fastapi
uvicorn
pymongo
python-dotenv
pydantic
pydantic[email]
requests
websockets==10.4 
starlette==0.27.0
pydantic-settings
passlib[bcrypt]
argon2-cffi
imbalanced-learn
pandas
numpy 
scikit-learn  
matplotlib 
seaborn 
joblib
